<h1>Burger!</h1>

<h2>Burgers that are not devoured!</h2>

<ul>
  {{#each burgerData}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>

<ul>
  {{#each burgerData}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add Your Burger</h2>
<form class="create-form">

  <div class="form-group">
    <textarea id="ca" name="name" rows="4" cols="50">
  </div>
{{!-- 
  <div class="form-group">
    <label for="slee">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

  <button type="submit">Submit</button>
</form>
