
  <img src="../assets/css/burger1.jpg"  width="20%"  height= "200%" class="float-left pictures pic1" alt="pictureburger">

  <img src="../assets/css/burger2.jpg"  width="20%"  height= "200%" class="float-right pictures pic2" alt="pictureburger">
   
<div id="mainContents">
  <b><i>Welcome to our Eat-Da-Burger shop. Add your favourite burger and then click 'Devour It!'' to get your favourite burger ready to serve. Enjoy!!!</i></b>
<br/><br/><br/>
<span id= "notdevoured"><h4>TO DEVOUR!</h4>

<div id="contents">
  {{#each burgerData}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</div>

</span>

<span id= "devoured"><h4>DEVOURED!</h4>

<div id="contents">
  {{#each burgerData}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</div> 

</span>

<br/><br/><br/><br/>
<div align="center">
<h2>Add Your Burger</h2>

  <div>
    <textarea id="ca" name="name" rows="4" cols="50"></textarea>
    <div class= "errorMsg" style="color:red"></div>
  </div>
  <br><br>

  <button id="submitBtn" type="submit">Submit</button>
  </div>
</div>