 
   {{!-- <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: ">  
    <a class="navbar-brand" href="#">Eat-Da-Burger</a>
    </nav> --}}
  <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: rgb(49, 48, 48);">
  <span class="navbar-brand mb-0 h1">Eat-Da-Burger!!</span>
  </nav>
  <img src="../assets/css/burger1.jpg"  width="20%"  height= "200%" class="float-left pictures pic1" alt="pictureburger">

  <img src="../assets/css/burger2.jpg"  width="20%"  height= "200%" class="float-right pictures pic2" alt="pictureburger">
   
<div id="mainContents">
<h4 id= "notdevoured">READY!

<ol id="contents">
  {{#each burgerData}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ol>
</h4>


<h4 id= "devoured">DEVOURED!

<div id="contents">
  {{#each burgerData}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</div> 
</h4>


<div class= "createBurger">
<h2 >Add Your Burger</h2>
{{!-- <form class="create-form">

  <div class="form-group"> --}}
    <div>
    <textarea id="ca" name="name" rows="4" cols="50"></textarea>
  </div>
{{!-- 
  <div class="form-group">
    <label for="slee">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

  <br><br>

{{!-- <input type="submit" value="Submit"> --}}
  <button id="submitBtn" type="submit">Submit</button>
  </div>
  </div>
{{!-- </form> --}}



