  
.pictures{
  margin-top: 5%;
  margin-right: 2%; 
  height: 100% !important;
}

body{
margin: 0 auto;
/* margin-top: 100px; */
background-color: rgb(179, 174, 174)
}

#notdevoured{
  float:left;
  margin-right: 300px;
} 

#mainContents{
  margin-top: 100px;
}

.createBurger{
  margin:0 auto;
}