  
.pictures{
  margin-top: 5%;
  margin-right: 2%; 
  height: 160% !important;
}

.pic1{
  margin-left: 2%;
}

#contents{
  font-size: 22px;
}
body{
margin: 0 auto;
/* margin-top: 100px; */
background-color: rgb(179, 174, 174)
}

#notdevoured{
  margin-left: 50px;
  margin-right: 300px;
} 

#mainContents{
  margin-top: 100px;
}

#notdevoured, #devoured{

  display : inline-block;
 
}

h4{
  margin-bottom:1%;
}

