
.pictures{
  margin-top: 5%;
  margin-right: 2%; 
  height: auto !important;
}

.pic1{
  margin-left: 2%;
}

#contents{
  font-size: 22px;

}

body{
margin: 0 auto;
/* margin-top: 100px; */
background-color: rgb(179, 174, 174);
position: relative;
min-height: 100vh;
padding-bottom: 60px;  
}

#mainContents{
  margin-top: 100px;
}

#notdevoured{
  margin-left: 4%;
  margin-right: 300px;
} 

#notdevoured, #devoured{

  display : inline-block;
  

}

h4{
  margin-bottom:1%;
}

/* footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color:rgb(61, 60, 60);
  color:white;
} */

@media screen and (max-width: 1514px) {
  #notdevoured{
    margin-left: 0%;
  }

  #devoured{
    margin-top: 2%;
  }

}

@media screen and (max-width: 1093px) {
  #notdevoured{
    margin-left: 0%;
  }
  .pic1 {
    width: 45% !important;
    margin-bottom: 50px;

  }

 .pic2{
    width:45% !important;
    margin-bottom: 50px;
  } 

  #mainContents{
    margin: 100px !important;
  }

}

@media screen and (max-width: 650px) {

  .pic1{
    width: 105% !important;
    margin-bottom: 50px;
    margin-left:15%;
  }
  .pic2{
    display:none;
    
  }

  #mainContents{
    margin: 100px !important;
    width:100% !important;
  }

  textarea{
    width:100%;
    margin-right:10%;
  }

  .navBar{
    max-width:100% !important;
  }

}